body {
    font-family: Arial, sans-serif;
    background-color: #cce7ef;
}

.box {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;   /* same for all inputs */
}

.gender {
    margin: 15px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#msg {
    text-align: center;
    margin-top: 10px;
}
